.header-container{
    display: flex;
    align-items: center;
    background-color: black;  
    color: white;  
    justify-content: space-between;
}

.leftside{
    font-weight: 700;
    font-family: cursive;
    font-size: 1.5rem;
    margin-left: 2rem;
}
.leftside:hover{
    color: brown;
    cursor: pointer;
}

.rightside{
    
    margin-right: 2rem;
}