.input-box1{
    width: 9rem;
    height: 1rem;
    margin-left: 4px;
}

.input-box2{
    width: 9rem;
    height: 1rem;
}


.btn-2{
    margin-left: 35px;
}

#checkbox{
margin-left: 4rem;
}
.btn{
    margin-left: 5rem;
}